/* Define the animation */
@keyframes springAnimation {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.5);
  }
}

/* Apply the animation to the lines */
.line:nth-child(odd) {
  height: 60%; /* Initial height */
  width: 3px;
  border-radius: 2px;
  margin-right: 3px;
  background-color: #326BFF;
  animation: springAnimation 1s infinite;
  animation-delay: 1s; /* Delay for odd lines */
  z-index: 10;
}

.line:nth-child(even) {
  height: 60%; /* Initial height */
  width: 3px;
  border-radius: 2px;
  margin-right: 3px;
  background-color: #326BFF;
  animation: springAnimation 1.5s infinite;
  z-index: 10;
}

.text-wrapper h1{
  text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
/* @keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.animate-shine {
  background: linear-gradient(to right, hsl(0, 0%, 20%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 10%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s infinite linear;
  font-family:'Times New Roman', Times, serif
} */

@keyframes shine {
  0% {
    background-position: -600px; /* Start off-screen */
  }
  100% {
    background-position: calc(100% + 600px); /* Move off-screen */
  }
}

.animate-shine {
  background: linear-gradient(to right, hsl(0, 0%, 20%) 0, hsl(0, 0%, 100%) 50%, hsl(0, 0%, 30%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s infinite linear;
  font-family: 'Times New Roman', Times, serif;
}


