/* Define the animation */
@keyframes springAnimation {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.5);
  }
}

/* Apply the animation to the lines */
.line:nth-child(odd) {
  height: 60%; /* Initial height */
  width: 3px;
  border-radius: 2px;
  margin-right: 3px;
  background-color: #326BFF;
  animation: springAnimation 1s infinite;
  animation-delay: 1s; /* Delay for odd lines */
  z-index: 10;
}

.line:nth-child(even) {
  height: 60%; /* Initial height */
  width: 3px;
  border-radius: 2px;
  margin-right: 3px;
  background-color: #326BFF;
  animation: springAnimation 1.5s infinite;
  z-index: 10;
}

.text-wrapper h1{
  text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
